Repository kokkos/kokkos, pull requests merged in 2023-05, with the labels that each got.

#6108 Drop pointless `Kokkos{Algorithms,Containers}_config.h` files
  algorithms/cmake/KokkosAlgorithms_config.h.in
  algorithms/src/CMakeLists.txt
  containers/cmake/KokkosContainers_config.h.in
  containers/src/CMakeLists.txt
Labels: Refactor, CMake

#6111 Drop unused cmake macros
  cmake/fake_tribits.cmake
Labels: Refactor, CMake

#6110 CUDA_LAMBDA always ON -- Fix `kokkos_check(OPTIONS CUDA_LAMBDA)`
  .jenkins
  Makefile.kokkos
  cmake/KokkosCore_config.h.in
  cmake/kokkos_arch.cmake
  cmake/kokkos_enable_options.cmake
  containers/unit_tests/TestErrorReporter.hpp
  containers/unit_tests/TestOffsetView.hpp
  core/perf_test/CMakeLists.txt
  core/perf_test/PerfTest_ViewAllocate.cpp
  core/perf_test/PerfTest_ViewCopy_Raw.cpp
  core/perf_test/PerfTest_ViewFill_Raw.cpp
  core/perf_test/PerfTest_ViewResize_Raw.cpp
  core/src/Kokkos_Macros.hpp
  core/unit_test/TestCompilerMacros.cpp
  core/unit_test/TestMDRangeReduce.hpp
  core/unit_test/TestTeamMDRange.hpp
  core/unit_test/TestViewMapping_a.hpp
  generate_makefile.bash
  scripts/trilinos-integration/waterman_cuda_env.sh
  scripts/trilinos-integration/white_cuda_env.sh
Labels: Bug

#5976 Allow templated functors in parallel_for, parallel_reduce and parallel_scan
  core/src/Cuda/Kokkos_Cuda_Parallel_MDRange.hpp
  core/src/Cuda/Kokkos_Cuda_Parallel_Range.hpp
  core/src/Cuda/Kokkos_Cuda_Parallel_Team.hpp
  core/src/Cuda/Kokkos_Cuda_ReduceScan.hpp
  core/src/Cuda/Kokkos_Cuda_Task.hpp
  core/src/Cuda/Kokkos_Cuda_Team.hpp
  core/src/HIP/Kokkos_HIP_Parallel_MDRange.hpp
  core/src/HIP/Kokkos_HIP_Parallel_Range.hpp
  core/src/HIP/Kokkos_HIP_Parallel_Team.hpp
  core/src/HIP/Kokkos_HIP_ReduceScan.hpp
  core/src/HIP/Kokkos_HIP_Team.hpp
  core/src/HPX/Kokkos_HPX.hpp
  core/src/Kokkos_GraphNode.hpp
  core/src/Kokkos_Parallel.hpp
  core/src/Kokkos_Parallel_Reduce.hpp
  core/src/OpenACC/Kokkos_OpenACC_ParallelScan_Range.hpp
  core/src/OpenMP/Kokkos_OpenMP_Parallel.hpp
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_ParallelReduce_Range.hpp
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_ParallelReduce_Team.hpp
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_ParallelScan_Range.hpp
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_ParallelScan_Team.hpp
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_Parallel_Common.hpp
  core/src/SYCL/Kokkos_SYCL_Parallel_Scan.hpp
  core/src/SYCL/Kokkos_SYCL_Parallel_Team.hpp
  core/src/SYCL/Kokkos_SYCL_Team.hpp
  core/src/Serial/Kokkos_Serial_Parallel_Range.hpp
  core/src/Threads/Kokkos_ThreadsTeam.hpp
  core/src/Threads/Kokkos_Threads_Parallel_Range.hpp
  core/src/impl/Kokkos_FunctorAnalysis.hpp
  core/src/impl/Kokkos_HostThreadTeam.hpp
  core/src/impl/Kokkos_Tools_Generic.hpp
  core/unit_test/TestFunctorAnalysis.hpp
  core/unit_test/hip/TestHIP_ScanUnit.cpp
  core/unit_test/incremental/Test05_ParallelReduce_RangePolicy.hpp
  core/unit_test/incremental/Test16_ParallelScan.hpp
Labels: Enhancement, CHANGELOG

#6130 sorting an empty view should exit early and not fail
  algorithms/src/Kokkos_Sort.hpp
  algorithms/unit_tests/TestSort.hpp
  algorithms/unit_tests/TestSortCommon.hpp
Labels: Bug, Kokkos-Algorithms

#6148 Drop `Kokkos_ENABLE_LAUNCH_COMPILER` option
  cmake/kokkos_enable_options.cmake
Labels: CMake

#6142 Cleanup exported kokkos options
  cmake/KokkosConfigCommon.cmake.in
  cmake/kokkos_enable_options.cmake
  cmake/kokkos_functions.cmake
Labels: CMake

#6127 [3.7.02] CHANGELOG.md: update for 3.7.02 patch
  CHANGELOG.md
Labels: CHANGELOG

#6156 Fix Kokkos_ENABLE_CUDA_LAMBDA for Trilinos
  cmake/kokkos_enable_options.cmake
Labels: Bug, Failure - Trilinos

#6157 Add `Kokkos::all_libs` alias target for compatibility with TriBITS/Trilinos
  CMakeLists.txt
  cmake/KokkosConfigCommon.cmake.in
Labels: CMake

#6081 sorting: add to binsort support for strided views and reorg tests
  algorithms/src/Kokkos_Sort.hpp
  algorithms/unit_tests/CMakeLists.txt
  algorithms/unit_tests/Makefile
  algorithms/unit_tests/TestBinSortA.hpp
  algorithms/unit_tests/TestBinSortB.hpp
  algorithms/unit_tests/TestNestedSort.hpp
  algorithms/unit_tests/TestOpenMP_Sort1D.cpp
  algorithms/unit_tests/TestOpenMP_Sort3D.cpp
  algorithms/unit_tests/TestOpenMP_SortDynamicView.cpp
  algorithms/unit_tests/TestRandom.hpp
  algorithms/unit_tests/TestRandomCommon.hpp
  algorithms/unit_tests/TestSort.hpp
  algorithms/unit_tests/TestSortCommon.hpp
Labels: Bug, Enhancement, Refactor, Kokkos-Algorithms
