Repository kokkos/kokkos, pull requests merged in 2023-09, with the labels that each got.

#6401 Deprecate `{Cuda,Hip}({cuda,hip}Stream_t, bool)`
  core/src/Cuda/Kokkos_Cuda.hpp
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
  core/src/Cuda/Kokkos_Cuda_Instance.hpp
  core/src/HIP/Kokkos_HIP.cpp
  core/src/HIP/Kokkos_HIP.hpp
  core/src/HIP/Kokkos_HIP_Instance.cpp
  core/src/HIP/Kokkos_HIP_Instance.hpp
Labels: Deprecate, Backend - CUDA, Backend - HIP

#6403 OpenMP backend refactor files.
  core/src/OpenMP/Kokkos_OpenMP.hpp
  core/src/OpenMP/Kokkos_OpenMP_Instance.hpp
  core/src/OpenMP/Kokkos_OpenMP_Parallel.hpp
  core/src/OpenMP/Kokkos_OpenMP_Parallel_For.hpp
  core/src/OpenMP/Kokkos_OpenMP_Parallel_Reduce.hpp
  core/src/OpenMP/Kokkos_OpenMP_Parallel_Scan.hpp
  core/src/decl/Kokkos_Declare_OPENMP.hpp
  core/src/impl/Kokkos_Default_Graph_Impl.hpp
Labels: Refactor, Kokkos-Core

#6408 Drop (unused) `Impl::cuda_internal_maximum_shared_words`
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
  core/src/Cuda/Kokkos_Cuda_Instance.hpp
Labels: Backend - CUDA

#6409 Drop check that the host backend is initialized before the device one
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
  core/src/HIP/Kokkos_HIP_Instance.cpp
  core/src/SYCL/Kokkos_SYCL_Instance.cpp
Labels: Refactor, Backend - CUDA, Backend - HIP, Backend - SYCL

#6410 Remove unused `HIPInternal` static data members
  core/src/Cuda/Kokkos_Cuda_Instance.hpp
  core/src/HIP/Kokkos_HIP.cpp
  core/src/HIP/Kokkos_HIP_Instance.hpp
Labels: Refactor, Backend - HIP

#6411 Improve `{Cuda,HIP,SYCL}Internal::initialize()`
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
  core/src/HIP/Kokkos_HIP_Instance.cpp
  core/src/SYCL/Kokkos_SYCL_Instance.cpp
Labels: Refactor, Backend - CUDA, Backend - HIP, Backend - SYCL

#6413 Drop pre-Kepler logic in `Cuda::impl_initialize`
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
Labels: Refactor, Backend - CUDA

#6419 Use execution space instance argument to get device properties in block size deduction
  core/src/Cuda/Kokkos_Cuda_BlockSize_Deduction.hpp
Labels: Bug, Backend - CUDA

#6418 Only warn once (at initialization) when forcing allocation in unified memory
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
Labels: Refactor, Backend - CUDA

#6433 Initialize m_num_scratch_locks for Cuda parallel_for TeamPolicy
  core/src/Cuda/Kokkos_Cuda_Parallel_Team.hpp
  core/unit_test/TestTeamScratch.hpp
Labels: Bug, Backend - CUDA

#6444 OpenMPTarget init-join fix
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_Exec.cpp
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_Instance.cpp
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_Parallel_Common.hpp
Labels: Bug, Backend - OpenMPTarget, Kokkos-Core
