Repository kokkos/kokkos, pull requests merged in 2024-04, with the labels that each got.

#6905 Move `Kokkos::Array` tests to a more suitable place
  core/unit_test/TestAggregate.hpp
  core/unit_test/TestArray.cpp
Labels: Refactor, Kokkos-Core

#6909 Accommodate users that depend on a code that define silly macros
  core/src/Kokkos_Tuners.hpp
Labels: Refactor, Kokkos-Core

#6796 Preparing readme for develop as the default branch
  README.md
Labels: Documentation

#6917 Refactor: Uniformize `create_mirror*` parameter name for views
  core/src/Kokkos_CopyViews.hpp
Labels: Refactor

#6822 Fix deep copy when filling Rank-7 views
  core/src/Kokkos_CopyViews.hpp
  core/unit_test/CMakeLists.txt
  core/unit_test/Makefile
  core/unit_test/TestViewCopy_c.hpp
Labels: Bug

#6562 SYCL: Improve team_reduce implementation
  core/src/SYCL/Kokkos_SYCL_Team.hpp
Labels: Backend - SYCL

#6907 Remove `Experimental::LayoutTiled` class template and deprecate `is_layouttiled` trait
  containers/src/Kokkos_DynRankView.hpp
  core/src/Kokkos_CopyViews.hpp
  core/src/Kokkos_Layout.hpp
  core/src/Kokkos_View.hpp
  core/src/impl/Kokkos_ViewLayoutTiled.hpp
  core/unit_test/TestOther.hpp
  core/unit_test/TestViewLayoutTiled.hpp
Labels: Deprecate, Kokkos-Core

#6891 Use recommended/max team size functions in Cuda ParallelFor and Reduce constructors
  core/src/Cuda/Kokkos_Cuda_Parallel_Team.hpp
Labels: Backend - CUDA

#6906 Drop `Kokkos::Array` specialization of `Impl::ViewMapping`
  core/src/Kokkos_View.hpp
  core/src/impl/Kokkos_ViewArray.hpp
  core/unit_test/TestAggregate.hpp
  core/unit_test/TestOther.hpp
Labels: Deprecate, Kokkos-Core

#6578 cuda: reduction with `RangePolicy`: fix grid dimensions to work for large values and avoid overflow
  core/src/Cuda/Kokkos_Cuda_Parallel_Range.hpp
  core/unit_test/TestReduce.hpp
Labels: Bug, Backend - CUDA

#6931 bring back --fmad option to nvcc_wrapper
  bin/nvcc_wrapper
Labels: Bug, Patch Release

#6934 Deprecate trailing `Proxy` template argument in `Kokkos::Array`
  core/src/Kokkos_Array.hpp
  core/unit_test/TestArrayOps.hpp
Labels: Deprecate, Kokkos-Core

#6940 Remove unnecessary `<limits>` header include in `<Kokkos_Array.hpp>`
  core/src/Kokkos_Array.hpp
Labels: Refactor, Kokkos-Core

#6947 Deprecate specialization of `Kokkos::pair` for a single element
  core/src/Kokkos_Pair.hpp
Labels: Deprecate, Kokkos-Core

#6951 Serial: Use the provided execution space instance in TeamPolicy
  core/src/Serial/Kokkos_Serial_Parallel_Team.hpp
  core/unit_test/TestExecSpacePartitioning.hpp
Labels: Bug, Patch Release

#6958 Replace deprecated sycl::device_ptr/sycl::host_ptr
  core/src/SYCL/Kokkos_SYCL_Instance.cpp
  core/src/SYCL/Kokkos_SYCL_Instance.hpp
  core/src/SYCL/Kokkos_SYCL_ParallelFor_Team.hpp
  core/src/SYCL/Kokkos_SYCL_ParallelReduce_MDRange.hpp
  core/src/SYCL/Kokkos_SYCL_ParallelReduce_Range.hpp
  core/src/SYCL/Kokkos_SYCL_ParallelReduce_Team.hpp
  core/src/SYCL/Kokkos_SYCL_ParallelScan_Range.hpp
  core/src/SYCL/Kokkos_SYCL_Team.hpp
  core/src/SYCL/Kokkos_SYCL_WorkgroupReduction.hpp
  core/src/setup/Kokkos_Setup_SYCL.hpp
Labels: Backend - SYCL

#6943 Add `kokkos_swap(Array<T, N>)` specialization
  core/src/Kokkos_Array.hpp
  core/unit_test/TestArray.cpp
Labels: Enhancement, Kokkos-Core

#6961 Fix wrong macro guards for deprecated `Kokkos::pair<T1,void>` specialization
  core/src/Kokkos_Pair.hpp
Labels: Bug
