Repository kokkos/kokkos, pull requests merged in 2024-06, with the labels that each got.

#7021 Cuda: Fix nvcc warnings
  .jenkins
  core/src/Cuda/Kokkos_Cuda.hpp
  core/unit_test/TestArray.cpp
  core/unit_test/TestComplex.hpp
  core/unit_test/TestNumericTraits.hpp
  tpls/gtest/gtest/gtest.h
Labels: Bug, Failure - Nightly, Backend - CUDA, Continuous Integration

#7059 Switch to using functors in sort_by_key_via_sort
  algorithms/src/sorting/impl/Kokkos_SortByKeyImpl.hpp
  algorithms/unit_tests/TestSortByKey.hpp
Labels: Bug, Kokkos-Algorithms

#7095 Fix more icpc issues
  core/src/Kokkos_Complex.hpp
  core/unit_test/TestExecSpaceThreadSafety.hpp
Labels: Compiler Issue, Failure - Nightly

#7091 Remove cmake options to change default spaces at configure time
  cmake/kokkos_tribits.cmake
Labels: Deprecate, CMake

#7098 Copy print_configuration when combining two kokkos settings.
  core/src/impl/Kokkos_Core.cpp
Labels: Bug, Kokkos-Core

#7099 Couple more icpc -Werror fixes
  core/src/Kokkos_Complex.hpp
Labels: Failure - Nightly

#7096 Cleanup KokkosP hooks in `Profiling::`
  core/src/impl/Kokkos_Profiling.cpp
  core/src/impl/Kokkos_Profiling.hpp
Labels: Refactor
