Repository kokkos/kokkos, pull requests merged in 2024-02, with the labels that each got.

#6778 Fix incorrect macro guard `#ifdef KOKKOS_ENABLE_DEPRECATED{ -> _CODE}_4`
  core/src/HIP/Kokkos_HIP.hpp
Labels: Bug, Backend - HIP

#6753 Cuda multi-GPU support: Make some variables device-specific, update Kokkos::fence
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
  core/src/Cuda/Kokkos_Cuda_Instance.hpp
  core/src/Cuda/Kokkos_Cuda_KernelLaunch.hpp
Labels: Backend - CUDA

#6777 Fixup use provided execution space when copying host inaccessible reduction result
  core/src/Cuda/Kokkos_Cuda_Parallel_Team.hpp
  core/src/HIP/Kokkos_HIP_ParallelReduce_Team.hpp
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_ParallelScan_Range.hpp
Labels: Bug, Backend - OpenMPTarget, Backend - CUDA, Backend - HIP

#6784 SYCL: Error out on initialization if the backend is different from ext_oneapi_*
  core/src/SYCL/Kokkos_SYCL_Instance.cpp
Labels: Backend - SYCL

#6243 simd: support vector_aligned_tag
  simd/src/Kokkos_SIMD_AVX2.hpp
  simd/src/Kokkos_SIMD_AVX512.hpp
  simd/src/Kokkos_SIMD_Common.hpp
  simd/src/Kokkos_SIMD_NEON.hpp
  simd/src/Kokkos_SIMD_Scalar.hpp
  simd/unit_tests/include/SIMDTesting_Utilities.hpp
  simd/unit_tests/include/TestSIMD_GeneratorCtors.hpp
  simd/unit_tests/include/TestSIMD_MathOps.hpp
  simd/unit_tests/include/TestSIMD_ShiftOps.hpp
  simd/unit_tests/include/TestSIMD_WhereExpressions.hpp
Labels: CHANGELOG

#6791 Remove `Experimental::HBWSpace` and support for linking against memkind
  Makefile.kokkos
  Makefile.targets
  cmake/KokkosCore_config.h.in
  cmake/Modules/FindTPLMEMKIND.cmake
  cmake/kokkos_tpls.cmake
  core/src/CMakeLists.txt
  core/src/HPX/Kokkos_HPX.hpp
  core/src/Kokkos_HBWSpace.hpp
  core/src/OpenMP/Kokkos_OpenMP.hpp
  core/src/decl/Kokkos_Declare_HBWSpace.hpp
  core/src/fwd/Kokkos_Fwd_HBWSpace.hpp
  core/src/impl/Kokkos_Core.cpp
  core/src/impl/Kokkos_HBWSpace.cpp
  core/src/impl/Kokkos_SharedAlloc_timpl.hpp
  generate_makefile.bash
  gnu_generate_makefile.bash
  scripts/testing_scripts/generate_makefile.bash
Labels: Deprecate

#6786 Fix typo in cuda_func_set_attribute[s]_wrapper
  core/src/Cuda/Kokkos_Cuda_Instance.hpp
  core/src/Cuda/Kokkos_Cuda_KernelLaunch.hpp
  core/unit_test/CMakeLists.txt
  core/unit_test/TestOccupancyControlTrait.hpp
Labels: Bug, Backend - CUDA

#6758 SYCL: Filter GPU devices
  core/src/SYCL/Kokkos_SYCL.cpp
  core/src/SYCL/Kokkos_SYCL.hpp
  core/src/impl/Kokkos_Core.cpp
Labels: Backend - SYCL

#6806 Drop support for old CPU architectures
  Makefile.kokkos
  cmake/KokkosCore_config.h.in
  cmake/kokkos_arch.cmake
  core/src/impl/Kokkos_Core.cpp
  core/unit_test/configuration/test-code/test_config_arch_list.bash
  generate_makefile.bash
  gnu_generate_makefile.bash
  scripts/testing_scripts/generate_makefile.bash
Labels: Deprecate

#6782 multi-GPU support: Add test for all policies
  core/unit_test/CMakeLists.txt
  core/unit_test/cuda/TestCuda_InterOp_StreamsMultiGPU.cpp
Labels: Backend - CUDA

#6801 Implement sort_by_key
  algorithms/src/Kokkos_Sort.hpp
  algorithms/src/sorting/Kokkos_SortByKeyPublicAPI.hpp
  algorithms/src/sorting/impl/Kokkos_SortByKeyImpl.hpp
  algorithms/unit_tests/CMakeLists.txt
  algorithms/unit_tests/TestSortByKey.hpp
Labels: Enhancement
