Repository kokkos/kokkos, pull requests merged in 2024-07, with the labels that each got.

#7102 cmake: fix relative to find kokkos_compiler_launcher
  cmake/KokkosConfigCommon.cmake.in
Labels: CMake

#7122 Update HIP nightly build base image Ubuntu 20.04 -> 22.04
  .jenkins_nightly
Labels: Failure - Nightly, Backend - HIP

#7120 Deprecate `RawMemoryAllocationFailure::FailureMode::MaximumCudaUVMAllocationsExceeded`
  core/src/impl/Kokkos_Error.cpp
  core/src/impl/Kokkos_Error.hpp
Labels: Refactor, Deprecate, Kokkos-Core

#7129 Drop (unused) cuda uvm allocations counter
  core/src/Cuda/Kokkos_CudaSpace.cpp
Labels: Refactor, Backend - CUDA, Kokkos-Core

#7131 Do not bother catching a memory allocation failure exception and rethrow it
  core/src/OpenMP/Kokkos_OpenMP_Instance.cpp
  core/src/OpenMP/Kokkos_OpenMP_Task.cpp
  core/src/Serial/Kokkos_Serial.cpp
Labels: Refactor, Kokkos-Core

#7132 Do not swallow errors when deallocating memory with CUDA
  core/src/Cuda/Kokkos_CudaSpace.cpp
Labels: Refactor, Backend - CUDA, Kokkos-Core

#7133 Simplify finalize logic
  cmake/fake_tribits.cmake
  core/src/impl/Kokkos_Core.cpp
  core/unit_test/CMakeLists.txt
Labels: Refactor, CMake, Kokkos-Core

#7138 SYCL: Add missing include for std::stringstream
  core/src/SYCL/Kokkos_SYCL_ParallelFor_Team.hpp
  core/src/SYCL/Kokkos_SYCL_ParallelReduce_Team.hpp
Labels: Backend - SYCL

#7139 Get rid of `RawMemoryAllocationFailure::AllocationMechanism` and derived backend-specific exceptions
  core/src/Cuda/Kokkos_CudaSpace.cpp
  core/src/Cuda/Kokkos_Cuda_Error.hpp
  core/src/HIP/Kokkos_HIP_Error.hpp
  core/src/HIP/Kokkos_HIP_Space.cpp
  core/src/OpenACC/Kokkos_OpenACCSpace.cpp
  core/src/SYCL/Kokkos_SYCL_Space.cpp
  core/src/impl/Kokkos_Error.cpp
  core/src/impl/Kokkos_Error.hpp
  core/src/impl/Kokkos_HostSpace.cpp
Labels: Refactor

#6730 Add `likely` and `unlikely` attribute from C++20 to ref counting in views
  Makefile.kokkos
  benchmarks/CMakeLists.txt
  benchmarks/view_copy_constructor/CMakeLists.txt
  benchmarks/view_copy_constructor/Makefile
  benchmarks/view_copy_constructor/view_copy_constructor.cpp
  cmake/KokkosCore_config.h.in
  cmake/kokkos_enable_options.cmake
  core/src/Kokkos_Macros.hpp
  core/src/impl/Kokkos_Core.cpp
  core/src/impl/Kokkos_SharedAlloc.hpp
Labels: Enhancement

#7126 Fix Trilinos nightly failure due to `create_mirror*` refactor
  containers/src/Kokkos_DynRankView.hpp
  containers/src/Kokkos_DynamicView.hpp
  containers/src/Kokkos_OffsetView.hpp
  core/src/Kokkos_CopyViews.hpp
Labels: Bug

#7143 OpenMPTarget: throw when `omp_target_alloc()` returns `nullptr`
  core/src/OpenMPTarget/Kokkos_OpenMPTargetSpace.cpp
  core/unit_test/TestViewAPI.hpp
Labels: Backend - OpenMPTarget

#7145 Drop `Experimental::RawMemoryAllocationFailure` and don't catch exceptions to rethrow them in shared alloc
  core/src/Cuda/Kokkos_CudaSpace.cpp
  core/src/HIP/Kokkos_HIP_Space.cpp
  core/src/OpenACC/Kokkos_OpenACCSpace.cpp
  core/src/OpenMPTarget/Kokkos_OpenMPTargetSpace.cpp
  core/src/SYCL/Kokkos_SYCL_Space.cpp
  core/src/impl/Kokkos_Error.cpp
  core/src/impl/Kokkos_Error.hpp
  core/src/impl/Kokkos_HostSpace.cpp
  core/src/impl/Kokkos_SharedAlloc.cpp
  core/src/impl/Kokkos_SharedAlloc.hpp
  core/unit_test/CMakeLists.txt
  core/unit_test/TestViewAPI.hpp
  core/unit_test/TestViewAPI_d.hpp
  core/unit_test/TestViewBadAlloc.hpp
Labels: Refactor, Deprecate

#7146 SYCL: Use sycl::shift_group_[left|right] and sycl::select_from_group
  core/src/SYCL/Kokkos_SYCL_ParallelScan_Range.hpp
  core/src/SYCL/Kokkos_SYCL_Team.hpp
  core/src/SYCL/Kokkos_SYCL_WorkgroupReduction.hpp
Labels: Backend - SYCL

#7147 OpenMPTarget: Update docker clang build.
  scripts/docker/Dockerfile.openmptarget
Labels: Backend - OpenMPTarget

#7168 Implement KOKKOS_ENABLE_IMPL_VIEW_OF_VIEWS_DESTRUCTOR_PRECONDITION_VIOLATION_WORKAROUND
  cmake/KokkosCore_config.h.in
  cmake/kokkos_enable_options.cmake
  core/src/View/Kokkos_ViewAlloc.hpp
  core/unit_test/CMakeLists.txt
  core/unit_test/TestViewOfViews.hpp
Labels: Blocks Promotion

#7174 OpenMPTarget: Delete ununsed code.
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_Exec.cpp
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_Instance.cpp
  core/src/OpenMPTarget/Kokkos_OpenMPTarget_Parallel.hpp
Labels: Backend - OpenMPTarget
