Repository kokkos/kokkos, pull requests merged in 2024-01, with the labels that each got.

#5190 Check matching static extents in View constructor
  containers/src/Kokkos_DynRankView.hpp
  core/src/Kokkos_View.hpp
  core/src/impl/Kokkos_ViewArray.hpp
  core/unit_test/TestViewAPI.hpp
  core/unit_test/TestViewCtorDimMatch.hpp
Labels: CHANGELOG

#6711 Drop pointless `Impl::CudaExec` forward declaration that has no matching definition
  core/src/Cuda/Kokkos_Cuda.hpp
Labels: Refactor, Backend - CUDA

#6710 Deprecate `{Cuda,HIP}::detect_device_count()` and `Cuda::[detect_]device_arch()`
  core/src/Cuda/Kokkos_Cuda.hpp
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
  core/src/Cuda/Kokkos_Cuda_Instance.hpp
  core/src/HIP/Kokkos_HIP.hpp
  core/src/HIP/Kokkos_HIP_Instance.cpp
  core/src/impl/Kokkos_Core.cpp
Labels: Refactor, Deprecate, Backend - CUDA, Backend - HIP

#6715 HIP: Forgot to delete matching brace closing the namespace
  core/src/HIP/Kokkos_HIP_Instance.cpp
Labels: Backend - HIP

#6714 Make initialize and finalize of the Cuda/HIP singleton less special
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
  core/src/HIP/Kokkos_HIP.cpp
  core/src/HIP/Kokkos_HIP_Instance.cpp
Labels: Refactor, Backend - CUDA, Backend - HIP

#6722 Kokkos_HIP.cpp: include Kokkos_Core.hpp to resolve errors
  core/src/HIP/Kokkos_HIP.cpp
Labels: Bug, Failure - Nightly, Backend - HIP

#6721 Let the smart pointer manage the CUDA/HIP stream
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
  core/src/Cuda/Kokkos_Cuda_Instance.hpp
  core/src/HIP/Kokkos_HIP.cpp
  core/src/HIP/Kokkos_HIP_Instance.cpp
  core/src/HIP/Kokkos_HIP_Instance.hpp
Labels: Refactor, Backend - CUDA, Backend - HIP

#6726 Guard `[MD]RangePolicy` precondition check for deprecated code 4
  core/src/KokkosExp_MDRangePolicy.hpp
  core/src/Kokkos_ExecPolicy.hpp
  core/src/impl/Kokkos_Error.cpp
  core/src/impl/Kokkos_Error.hpp
  core/unit_test/TestMDRangePolicyConstructors.hpp
  core/unit_test/TestRangePolicyConstructors.hpp
Labels: Deprecate

#6732 Don't touch my records! (refactor Cuda/HIP/SYCL/Threads to not directly mess with `SharedAllocationRecord`)
  core/src/Cuda/Kokkos_Cuda_GraphNodeKernel.hpp
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
  core/src/HIP/Kokkos_HIP_GraphNodeKernel.hpp
  core/src/HIP/Kokkos_HIP_Instance.cpp
  core/src/SYCL/Kokkos_SYCL_Instance.cpp
  core/src/Threads/Kokkos_Threads_Instance.cpp
Labels: Refactor, Backend - CUDA, Backend - HIP, Backend - SYCL

#6738 Untangle `SharedAllocationRecord` spaghetti code
  Makefile.targets
  core/src/Cuda/Kokkos_CudaSpace.cpp
  core/src/Cuda/Kokkos_CudaSpace.hpp
  core/src/Cuda/Kokkos_Cuda_UniqueToken.hpp
  core/src/HIP/Kokkos_HIP_GraphNodeKernel.hpp
  core/src/HIP/Kokkos_HIP_SharedAllocationRecord.cpp
  core/src/HIP/Kokkos_HIP_SharedAllocationRecord.hpp
  core/src/HIP/Kokkos_HIP_Space.cpp
  core/src/HIP/Kokkos_HIP_Space.hpp
  core/src/HIP/Kokkos_HIP_UniqueToken.hpp
  core/src/Kokkos_HBWSpace.hpp
  core/src/Kokkos_HostSpace.hpp
  core/src/OpenACC/Kokkos_OpenACCSpace.cpp
  core/src/OpenACC/Kokkos_OpenACC_SharedAllocationRecord.cpp
  core/src/OpenACC/Kokkos_OpenACC_SharedAllocationRecord.hpp
  core/src/OpenMPTarget/Kokkos_OpenMPTargetSpace.cpp
  core/src/OpenMPTarget/Kokkos_OpenMPTargetSpace.hpp
  core/src/SYCL/Kokkos_SYCL_Space.cpp
  core/src/SYCL/Kokkos_SYCL_Space.hpp
  core/src/impl/Kokkos_HBWSpace.cpp
  core/src/impl/Kokkos_HostSpace.cpp
  core/src/impl/Kokkos_MemorySpace.cpp
  core/src/impl/Kokkos_MemorySpace.hpp
  core/src/impl/Kokkos_SharedAlloc.cpp
  core/src/impl/Kokkos_SharedAlloc.hpp
  core/src/impl/Kokkos_SharedAlloc_timpl.hpp
Labels: Refactor

#6630 Add warp sync for Cuda parallel reduce to avoid race condition
  core/src/Cuda/Kokkos_Cuda_Parallel_Range.hpp
Labels: Backend - CUDA

#6744 Drop support for deprecated command-line arguments and environment variables
  core/src/impl/Kokkos_Core.cpp
  core/src/impl/Kokkos_DeviceManagement.hpp
  core/src/impl/Kokkos_InitializationSettings.hpp
  core/unit_test/TestInitializationSettings.cpp
  core/unit_test/TestParseCmdLineArgsAndEnvVars.cpp
Labels: Deprecate

#6739 Avoid unnecessary zero-memset of the scratch flags in SYCL
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
  core/src/HIP/Kokkos_HIP_Instance.cpp
  core/src/SYCL/Kokkos_SYCL_Instance.cpp
  core/src/SYCL/Kokkos_SYCL_ParallelReduce_MDRange.hpp
  core/src/SYCL/Kokkos_SYCL_ParallelReduce_Range.hpp
  core/src/SYCL/Kokkos_SYCL_ParallelReduce_Team.hpp
  core/src/SYCL/Kokkos_SYCL_ParallelScan_Range.hpp
Labels: Performance, Backend - SYCL

#6713 Add runtime function to query the number of devices and make device ID consistent with `KOKKOS_VISIBLE_DEVICES`
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
  core/src/HIP/Kokkos_HIP_Instance.cpp
  core/src/Kokkos_Core.hpp
  core/src/impl/Kokkos_Core.cpp
  core/src/impl/Kokkos_DeviceManagement.hpp
  core/unit_test/CMakeLists.txt
  core/unit_test/TestDeviceAndThreads.py
  core/unit_test/UnitTest_DeviceAndThreads.cpp
Labels: Bug, Feature Request

#6761 Drop `CudaInternal::cuda_get_last_error_wrapper()`
  core/src/Cuda/Kokkos_Cuda_Instance.hpp
  core/src/Cuda/Kokkos_Cuda_KernelLaunch.hpp
  core/src/Cuda/Kokkos_Cuda_Task.hpp
Labels: Backend - CUDA

#6762 Avoid calling wrapper functions with singleton in Kokkos_CudaSpace.cpp where we want a different device
  core/src/Cuda/Kokkos_CudaSpace.cpp
  core/src/Cuda/Kokkos_Cuda_Error.hpp
  core/src/Cuda/Kokkos_Cuda_Instance.cpp
Labels: Backend - CUDA

#6763 Avoid calling wrapper functions with singleton in Kokkos_Cuda_Task.cpp
  core/src/Cuda/Kokkos_Cuda_Task.hpp
Labels: Backend - CUDA
