Repository kokkos/kokkos, pull requests merged in 2024-09, with the labels that each got.

#7287 core(hpx): overload for `partition_space`
  core/src/HPX/Kokkos_HPX.hpp
  core/unit_test/TestExecSpacePartitioning.hpp
Labels: Backend - HPX

#7279 Cleanup atomics test
  core/unit_test/TestAtomicOperations.hpp
  core/unit_test/TestAtomicViews.hpp
  core/unit_test/TestAtomics.hpp
Labels: Refactor

#7291 Address intel/19 build fails
  core/src/Kokkos_CopyViews.hpp
Labels: Bug

#7293 Add range-based for loop support for `Array<T, N>`
  core/src/Kokkos_Array.hpp
  core/unit_test/TestArray.cpp
Labels: Enhancement, Kokkos-Core

#7298 Prefer `ExecSpace::name()` to `typeid(ExecSpace).name()` in `print_configuration()`
  core/src/impl/Kokkos_Core.cpp
Labels: Enhancement, Kokkos-Core

#7307 Readme: upgrade to 4.4.00
  README.md
Labels: Documentation

#7303 SYCL: Fix configuring without architecture flags
  cmake/kokkos_arch.cmake
Labels: Bug, Backend - SYCL, CMake

#7310 Fixup View constructor death tests
  core/unit_test/TestViewCtorDimMatch.hpp
Labels: Refactor, Kokkos-Core

#7311 Rework event-based tool testing facility to not rely on RTTI
  core/unit_test/tools/TestEventCorrectness.hpp
  core/unit_test/tools/include/ToolTestingUtilities.hpp
Labels: Refactor

#7314 Don't report SYCL as experimental in the configuration summary anymore
  cmake/kokkos_arch.cmake
Labels: Refactor, Backend - SYCL, CMake

#7318 Disable thread safety tests on the host backends as well when OpenACC is enabled
  core/unit_test/TestExecSpaceThreadSafety.hpp
Labels: Bug, Kokkos-Core

#7328 Cleanup/improve C style memory management tests
  core/unit_test/CMakeLists.txt
  core/unit_test/Makefile
  core/unit_test/TestCStyleMemoryManagement.cpp
Labels: Refactor

#7336 Fix typo and improve Kokkos_ENABLE_ATOMICS_BYPASS option description
  cmake/kokkos_arch.cmake
Labels: CMake

#7337 Medley of (hopefully) uncontroversial fixups towards building with no exceptions
  algorithms/unit_tests/TestBinSortA.hpp
  algorithms/unit_tests/TestSort.hpp
  algorithms/unit_tests/TestSortByKey.hpp
  algorithms/unit_tests/TestStdAlgorithmsConstraints.cpp
  core/src/Kokkos_ExecPolicy.hpp
  core/src/View/Kokkos_ViewMapping.hpp
  core/src/impl/Kokkos_Core.cpp
  core/src/impl/Kokkos_ExecPolicy.cpp
  core/src/impl/Kokkos_SharedAlloc.cpp
  core/unit_test/TestGraph.hpp
  core/unit_test/TestRangePolicyConstructors.hpp
  core/unit_test/TestReduce.hpp
  core/unit_test/TestViewCtorDimMatch.hpp
  core/unit_test/TestViewIsAssignable.hpp
Labels: Refactor

#7358 Add CEA weekly test config
  .github/workflows/weekly-cea.yml
Labels: Continuous Integration

#7370 Get rid of (unused) `Tools::tool_arguments` symbol
  core/src/impl/Kokkos_Profiling.cpp
Labels: Refactor

#7371 Quit throwing in tests
  algorithms/unit_tests/TestStdAlgorithmsAdjacentDifference.cpp
  algorithms/unit_tests/TestStdAlgorithmsAdjacentFind.cpp
  algorithms/unit_tests/TestStdAlgorithmsCopyIf.cpp
  algorithms/unit_tests/TestStdAlgorithmsExclusiveScan.cpp
  algorithms/unit_tests/TestStdAlgorithmsInclusiveScan.cpp
  algorithms/unit_tests/TestStdAlgorithmsIsSorted.cpp
  algorithms/unit_tests/TestStdAlgorithmsIsSortedUntil.cpp
  algorithms/unit_tests/TestStdAlgorithmsMismatch.cpp
  algorithms/unit_tests/TestStdAlgorithmsPartitionCopy.cpp
  algorithms/unit_tests/TestStdAlgorithmsRemove.cpp
  algorithms/unit_tests/TestStdAlgorithmsRemoveCopy.cpp
  algorithms/unit_tests/TestStdAlgorithmsRemoveCopyIf.cpp
  algorithms/unit_tests/TestStdAlgorithmsRemoveIf.cpp
  algorithms/unit_tests/TestStdAlgorithmsReplace.cpp
  algorithms/unit_tests/TestStdAlgorithmsReplaceCopy.cpp
  algorithms/unit_tests/TestStdAlgorithmsReplaceCopyIf.cpp
  algorithms/unit_tests/TestStdAlgorithmsReplaceIf.cpp
  algorithms/unit_tests/TestStdAlgorithmsReverse.cpp
  algorithms/unit_tests/TestStdAlgorithmsRotate.cpp
  algorithms/unit_tests/TestStdAlgorithmsRotateCopy.cpp
  algorithms/unit_tests/TestStdAlgorithmsSearch_n.cpp
  algorithms/unit_tests/TestStdAlgorithmsTransformExclusiveScan.cpp
  algorithms/unit_tests/TestStdAlgorithmsTransformInclusiveScan.cpp
  algorithms/unit_tests/TestStdAlgorithmsUnique.cpp
  algorithms/unit_tests/TestStdAlgorithmsUniqueCopy.cpp
  algorithms/unit_tests/TestStdReducers.cpp
  benchmarks/gups/gups.cpp
  benchmarks/launch_latency/launch_latency.cpp
  core/unit_test/UnitTest_CMakePassCmdLineArgs.cpp
  core/unit_test/tools/TestTuning.cpp
Labels: Refactor

#7365 graph(global-kernel-launch): fix global launch for node kernel
  core/src/Cuda/Kokkos_Cuda_GraphNodeKernel.hpp
  core/src/Cuda/Kokkos_Cuda_Graph_Impl.hpp
  core/src/Cuda/Kokkos_Cuda_KernelLaunch.hpp
  core/src/HIP/Kokkos_HIP_GraphNodeKernel.hpp
  core/src/HIP/Kokkos_HIP_Graph_Impl.hpp
  core/src/HIP/Kokkos_HIP_KernelLaunch.hpp
  core/unit_test/TestGraph.hpp
  core/unit_test/tools/include/ToolTestingUtilities.hpp
Labels: Bug, Backend - CUDA, Backend - HIP

#7374 Abort instead of throwing on precondition violation in `OffsetView`
  containers/src/Kokkos_OffsetView.hpp
  containers/unit_tests/TestOffsetView.hpp
Labels: Refactor, Kokkos-Containers

#7381 Add TriBITS compatibility tests
  core/unit_test/CMakeLists.txt
  core/unit_test/UnitTest_CMakeTriBITSCompatibility.cpp
Labels: CMake

#7341 OpenMP: Add OpenMP link flag for Cray compiler.
  cmake/kokkos_arch.cmake
  cmake/kokkos_compiler_id.cmake
  cmake/kokkos_functions.cmake
Labels: CMake, Backend - OpenMP
